<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Central &amp; Bolt</title>
  </head>
  <body>
    <header>
      <h1 class="text">About</h1>
    </header>
    <main>
      <section id="vision">
        <p><i>Making impact together</i></p>
        <h2>Overview</h2>
        <img class="right-image" src="assets/pic1.jpg" alt="Image 1" />
        <img class="left-image" src="assets/tracks.jpg" alt="Image 2" />
        <p>
          Paramount Sports Group is a dynamic organization dedicated to the
          development of youth <br />
          in sports, with a primary focus on football (soccer). Founded with a
          vision to nurture talent and <br />
          foster a love for sports among young athletes, Paramount Sports Group
          is <br />
          committed to bringing together soccer legends to inspire and mentor
          the next <br />
          generation of athletes.
        </p>
      </section>
      <section id="mission">
        <h2>Our Mission</h2>
        <p>
          Our mission at Paramount Sports Group is to provide unparalleled
          opportunities <br />for youth development in sports, fostering not
          only athletic skills but also <br />promoting values of teamwork,
          discipline, and leadership. Through our programs<br />
          and initiatives, we aim to create a positive impact in communities by
          empowering <br />
          young athletes to reach their full potential on and off the field.
        </p>
      </section>
      <section id="management">
        <h2 class="management-text">Meet Our Management Board</h2>
        <div class="image-container">
          <div class="kids-image">
            <img src="assets/images/kids.jpg" alt="My first image." />
          </div>
          <div class="girls-image">
            <img src="assets/images/girls.jpg" alt="My second image." />
          </div>
        </div>
      </section>

      <section id="advisors">
        <h2 class="advisors-text">Meet Our Advisors</h2>
        <div class="image-container">
          <div class="mabhora-image">
            <img src="assets/images/mabhora.jpeg" alt="My first image." />
          </div>
          <div class="girls-image">
            <img src="assets/images/OIP.jpeg" alt="My second image." />
          </div>
        </div>
      </section>

      <section id="newsletter">
        <h2>Newsletter Signup</h2>
        <form>
          <label for="email">Subscribe to the Updates:</label><br />
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your email address"
          /><br />
          <button type="submit">Subscribe</button>
        </form>
      </section>
    </main>
    

    <footer>
      <div class="footerContainer">
          <div class="socialIcons">
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-google-plus"></i></a>
              <a href=""><i class="fa-brands fa-youtube"></i></a>
          </div>
          <div class="footerNav">
              <ul><li><a href="">Home</a></li>
                  <li><a href="">News</a></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Contact Us</a></li>
                  <li><a href="">our Team</a></li>
              </ul>
          </div>
          
      </div>
      <div class="footerBottom">
          <p>Copyright &copy;2023; Designed by <span class="designer">Noman</span></p>
      </div>
  </footer>


    <!-- <footer>
      <div class="container">
        <div class="header">
          <h3>Paramount Sport Group</h3>
          <p class="header-content">
            <i>
              Our purpose is to build, further develop,<br />
              sustain and protect an inclusive society, <br />
              where everyone has a place to be.</i
            >
          </p>
        </div>
        <div class="header">
          <h3>Contacts</h3>
          <p class="header-content"><i>+263 772 560 077</i></p>
          <p class="header-content"><i>+263 772 560 077</i></p>
          <p class="header-content"><i>+263 772 560 077</i></p>
        </div>
        <div class="header">
          <h3>Get in Touch</h3>
          <div class="social-icons">
            <a
              href="https://www.facebook.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fab fa-facebook"></i>
            </a>
            <br />
            <a
              href="https://www.twitter.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fab fa-twitter"></i>
            </a>
            <br />
            <a
              href="https://www.instagram.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="divider"></div>

      <p>&copy; 2023 Paramount Sports Group. All rights reserved.</p>
    </footer> -->






  </body>
</html>
